@model CognineSales.Models.Login

@{
    ViewData["Title"] = "LoginPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="~/css/login.css" rel="stylesheet" />
</head>
<body>
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
        <div class="container">
            <div class="card login-card">
                <div class="row no-gutters">
                    <div class="col-md-5">
                        <img src="~/Images/login.jpg" alt="login" class="login-card-img">
                    </div>

                    <div class="col-md-7">
                        <div class="card-body">
                            <div class="brand-wrapper">
                                <img src="~/Images/Cognine1.png" width="100" />
                            </div>
                            <p class="login-card-description">Sign into your account</p>
                            <span style="color:red;">@ViewBag.Error</span>
                            <form asp-action="LoginPage" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="UserEmail" class="control-label"></label>
                                    <input asp-for="UserEmail" class="form-control" type="email" placeholder="someone@gmail.com" autocomplete="off" required />
                                    <span asp-validation-for="UserEmail" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="UserPassword" class="control-label"></label>
                                    <input asp-for="UserPassword" class="form-control" type="password" placeholder="********" autocomplete="off" required />
                                    <span asp-validation-for="UserPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Login" class="btn btn-primary" />
                                </div>
                            </form>
                            <a href="#!" class="forgot-password-link">Forgot password?</a>
                            <p class="login-card-footer-text">Don't have an account?@Html.ActionLink("Register now", "RegistrationPage", "Login")</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>



