@{
    ViewData["Title"] = "Home Page";
}
<div class="text-right">
    <div class="form-group">
        <button class="btn btn-primary" style="background-color:gainsboro;">@Html.ActionLink("SignIn", "LoginPage", "Login")</button>
    </div>
</div>

<div class="text-center">
    <h1 class="display-4" style="color:dodgerblue;">Welcome</h1>
    <p class="display-4">TO <span style="color:red;">Cognine</span></p>
</div>
